<html>
<head>
  <title>Car Manage</title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
  <div class="container">
    <h1><a href="/">Car Manage</a></h1>
    <%= yield %>
  </div>
</body>
</html>
