<h2>Add Car</h2>
<form action="/car/add" method="post">
  <div class="five columns">
    <label>Make</label>
    <input type="text" name="make"/>
  </div>
  <div class="five columns">
    <label>Model</label>
    <input type="text" name="model"/>
  </div>
  <div class="five columns">
    <label>Motor</label>
    <input type="text" name="motor"/>
  </div>
  <div class="one column">
    <label for="diesel">diesel</label><input type="radio" name="energy" value="Diesel"/>
    <label for="petrol">petrol</label><input type="radio" name="energy" value="Petrol"/><br/>
  </div>
  <div class="five columns">
    <label>Km</label>
    <input type="number" name="km"/><br/>
  </div>
  <div class="five columns">
    <label>Year</label>
    <input type="number" name="year"/><br/>
  </div>
    <div class="sixteen columns" style="margin-top: 20px">
    <input type="submit" value="Submit"/>
  </div>
</form>
