<div class="pure-u-1">
  <%
    i = 0
    while @listCar[i] do
  %>
	<h3><a class="pure-button" href="/car/view/<%=@listCar[i]['_id']['$oid']%>"><%=@listCar[i]['make']%> <%=@listCar[i]['model']%></a></h3>
  <%
    i += 1
    end
  %>
  <br/>
  <a href="/car/add" class="pure-button">
    <i class="fa fa-car"></i>
    Add Car
  </a>
</div>
