<div class="pure-u-1">

  <h2>Repair List</h2>

  <table class="pure-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>KM</th>
        <th>Price</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
<%
  i = 0
  if @repair.nil?
    %><h3>No repair<h3><%
  else
    while @repair[i] do %>
    <tr>
      <td><%=@repair[i]['date']%></td>
      <td><%=@repair[i]['km']%></td>
      <td><%=@repair[i]['price']%></td>
      <td><%=@repair[i]['comment']%></td>
    </tr>
    <%i += 1
    end
  end
%>
    </tbody>
  </table>
</div>
